#body-blog{
    height: 4300px;
}
.blog{
    width: 1150px;
    margin-left: 180px;
    color: rgb(134, 116, 101);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.blog-vaithieu {
    margin-top: 35px;
}
.blog-vaithieu h2{
    font-size: 25px;
}
.blog-vaithieu p{
    margin-top: 25px;
    font-size: 15px;
}
.vd{
    margin-top: 25px;
    margin-left: 80px;
    width: 1000px;
}
.blog-vaithieu img{
    margin-top: 25px;
    width: 1000px;
    margin-left: 80px;
}
.story{
    color: rgb(134, 116, 101);
    text-align: center;
    margin-top: 55px;
}
.story h3{
    margin-left: 675px;
    text-align: center;
    width: 142px;
    border-bottom: 2px solid rgb(134, 116, 101);
}
.story img{
    width: 375px;
    height: 308px;
    border-radius: 2px;
}
.story p{
    color: black;
    width: 325px;
    font-size: 16px;
    margin-left: 566px;
}