#body-gioithieu{
    margin: 0;
    padding: 0;
    height: 2452px;
}
.title-gt {
    width: 1160px;
    margin-left: 165px;
    margin-top: 45px;
    color: rgb(134, 116, 101);
    font-family: Arial, Helvetica, sans-serif;
}
.title-gt h2{
    font-size: 35px;
    border-bottom:1px solid rgb(213, 195, 170);
    height: 55px;
}
.introduce{
    margin-top: 20px;
}
.introduce p{
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}
.gt-sp h3{
    margin-top: 35px;
    font-size: 17px;
}
.mh-row p{
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.gt-sp p{
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.gt-sp .loiket{
    margin-top: 55px;
}
.gt-sp .camon{
    font-style: italic;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}
.gt-sp img{
    height: 705px;
    width: 1150px;
}