* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 1460px;
    margin: 0;
    height: 1600px;
}
#wrapper{
    width: 1460px;
    margin: 0;
    height: 5200px;
}
.menu-top{
    width: 1460px;
    border-bottom: 1px solid rgb(167, 165, 165);
}
.menu-top .container{
    left: 150px;
    padding-top: 5px;
    display: flex;
    
}
 .top{

    margin-left: -100px;
    width: 1360px;
    display: flex;
} 
.top_container{
    display: flex;
    width: 1460px;
    height: 128px;
    padding: 15px 100px;
    justify-content: space-between; 

}
.top_container-left{
    padding-top: 0px;
    display: flex;
    width: 210px;
    height: 110px;
    margin-left: 100px;
} 
.top_container-left img{
    margin-left: -70px;
    width: 180px;
    height: 100px;
}
.top_container-right{
padding-top: 25px;
width: 800px;
height: 100px;
margin-right: -125px;
}
.container-right-top{
    display: flex;
    justify-content: space-around;
    margin-left: 320px;
    margin-bottom: -20px;
    padding-bottom: 25px;
    align-items: center;
}
 .container-title{
    margin-top: -8px;
    display: flex;
    font-size: 10px;
    align-items: center;
} 
.container-title h2{
    font-size: 15px;
}
.fa-angle-down{
    margin-left: 5px;
    margin-top: 15px;
    align-items: center;
}
.container-right-top{
    margin-left: 150px;
    width: 530px;
    display: flex;
}
.top-icons img{
    width: 30px;
    height: 25px;
}
.container-right-bottom{
    width: 730px;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-left: -50px;
    align-items: center;
}
.search {
    display: flex;
    width: 240px;
    height: 35px;
    align-items: center;
    border-radius: 6px;
    border: 1px solid rgb(167, 165, 165);
}

.search img{
    width: 15px;
    height: 20px;
    margin-left: 1px;
}
.container-right-bottom .search{
    width: 168px;
    justify-content: space-around;
}
.container-right-bottom .search{
    justify-content: space-around;
}
.container-right-bottom .bottom-search .search img{
    margin-left: 40px;
}
.container-right-bottom .bottom-search .search p{
    font-size: 12px;
    margin-right: 50px;
}
.container-right-top .top-search .search p{
    margin-left: 20px;
    font-size: 12px;
}
.container-right-top .top-search .search img{
    margin-left: 10px;
}
.shopping-cart{
    border: 1px solid #e9e2d5;
    border-radius: 5px;
    padding: 4px 15px;
    margin-left: 10px;
    text-align: center;
}
.menuhome .container{
    color: rgb(167, 165, 165);
}
.backhome{
    margin-top: 15px;
}
.menuhome .container .backhome a span{
    color: rgb(167, 165, 165);
} 
.section-login {
	padding-top: 50px;
	padding-bottom: 70px;
}
.section-login .login-form-wrap {
	background-color: rgba(250, 250, 250, 0.85);
	border: 1px solid #e5e5e5;
	padding-top: 80px;
	padding-bottom: 90px;
}
.section-login input {
	width: 100%;
}
.section-login input[type="text"],
.section-login input[type="email"],
.section-login input[type="password"] {
	height: 69px;
	padding-left: 30px;
	padding-right: 30px;
	border: 1px solid #b5b5b5;
	-webkit-transition: .2s border;
	transition: .2s border;
}
.section-login input[type="text"],
.section-login input[type="email"],
.section-login input[type="password"],
.section-login .forget,
.section-login .sign-up {
	margin-top: 32px;
}
.section-login h1 {
	font-size: 35px;
	text-transform: uppercase;
	text-align: center;
}
.section-login .taberna-btn {
	border: none;
	height: 53px;
	margin-top: 40px;
	-webkit-transition: .2s background, .2s color;
	transition: .2s background, .2s color;
	background: #5ab642;

}
.section-login .taberna-btn:hover {
	background-color: #e6e6e6;
	color: #979797;
}
.section-login ::-webkit-input-placeholder {
	color: #8a8a8a;
}
.section-login ::-moz-placeholder {
	color: #8a8a8a;
}
.section-login :-ms-input-placeholder {
	color: #8a8a8a;
}
.section-login .forget a {
	color: #545454;
}
.section-login .forget a:hover {
	text-decoration: underline;
}
.section-login .sign-up {
	text-align: right;
}
.section-login .sign-up a:hover {
	text-decoration: underline;
}
.bottom-taitro{
    color: rgb(134, 116, 101);
}
.bottom-taitro .doitac h1{
    text-align: center;
    font-size: 30px;
}
.logo_doitac{
    margin-left: 100px;
    justify-content: space-between;
}
.bottom-taitro .doitac .logo_doitac img{
    margin-left: 55px;
    margin-top: 30px;
    height: 120px;
    width: 200px;
}
.infor{
    margin-top: 45px;
    width: 1460px;
    height: 505px;
    background-color: rgb(233, 226, 213);
    justify-content: space-around;
    display: flex;
}
.theodoi{
    width: 220px;
    height: 440px;
    margin-left: 120px;
}
.grouped_elements img{
    height: 150px;
    width: 250px;
}
.CTY{
    width: 420px;
    height: 440px;
}
.cty{
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.inforcty{
    margin-left: 10px;
}
.support{
    /* width: 250px;
    height: 440px; */
}
.mxh img{
    width: 35px;
    height: 35px;
}