* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 1460px;
    margin: 0;
    height: 5200px;
}
#wrapper{
    width: 1460px;
    margin: 0;
    height: 5200px;
}
.container{
    width: 1460px;
    left: 0px;
    padding-top: 5px;
    display: flex;
    
}
 .top{
    padding-right: 0px;
    margin-right: 100px;
    width: 1360px;
    display: flex;
    margin-left: -100px;
} 
.top_container{
    display: flex;
    width: 1460px;
    height: 128px;
    padding: 15px 100px;
    justify-content: space-between; 

}
.top_container-left{
    padding-top: 0px;
    display: flex;
    width: 210px;
    height: 110px;
    margin-left: 100px;
} 
.top_container-left img{
    margin-left: -70px;
    width: 180px;
    height: 100px;
}
.top_container-right{
padding-top: 25px;
width: 800px;
height: 100px;
margin-right: -125px;
}
.container-right-top{
    display: flex;
    justify-content: space-around;
    margin-left: 320px;
    margin-bottom: -20px;
    padding-bottom: 25px;
    align-items: center;
}
 .container-title{
    margin-top: -8px;
    display: flex;
    font-size: 10px;
    align-items: center;
} 
.container-title h2{
    font-size: 15px;
}
.fa-angle-down{
    margin-left: 5px;
    margin-top: 15px;
    align-items: center;
}
.container-right-top{
    margin-left: 150px;
    width: 530px;
    display: flex;
}
.top-icons img{
    width: 30px;
    height: 25px;
}
.container-right-bottom{
    width: 730px;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-left: -50px;
    align-items: center;
}
.search {
    display: flex;
    width: 240px;
    height: 35px;
    align-items: center;
    border-radius: 6px;
    border: 1px solid rgb(167, 165, 165);
}

.search img{
    width: 15px;
    height: 20px;
    margin-left: 1px;
}
.container-right-bottom .search{
    width: 168px;
    justify-content: space-around;
}
.container-right-bottom .search{
    justify-content: space-around;
}
.container-right-bottom .bottom-search .search img{
    margin-left: 40px;
}
.container-right-bottom .bottom-search .search p{
    font-size: 12px;
    margin-right: 50px;
}
.container-right-top .top-search .search p{
    margin-left: 20px;
    font-size: 12px;
}
.container-right-top .top-search .search img{
    margin-left: 10px;
}
.shopping-cart{
    border: 1px solid #e9e2d5;
    border-radius: 5px;
    padding: 4px 15px;
    margin-left: 10px;
    text-align: center;
}
/* .intro-menu-search{
    float: left;
    padding: 3px 10px;
    position: relative;
    margin-top: -5px;
}
.intro-menu-search .nav-search button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 11px;
    left: 16px;
} */
 .center-top_img img{
    width: 1460px;
    height: 560px;
}
.center-bottom_title img{
    height: 365px;
    width: 365px;
    
}
.center-bottom{
    margin-top: 0;
    display: flex;
    width: 1460px;
    height: 445px;
    background: rgb(233, 226, 213);
}
.center-bottom_title{
    display: flex;
}
.center-bottom_title img{
    margin-top: 38px;
    margin-left: 335px;
    border-radius: 999999px;
    border: 10px solid rgb(209, 202, 195);
}
.center-bottom_title p{
    width: 660px;
    height: 310px;
    font-size: x-large;
    font-family: Helvetica;
    margin-top: 35px;
    padding-left: 200px;
    color: rgb(134, 116, 101);
}
.bottom{
    background-color: rgb(255, 255, 255);
    display: contents;
    font-family: Arial, Helvetica, sans-serif;
}
.bottom_row{
    display: flex;
}
.bottom_row-son{
    display: flex;
    width: 730px;
    height: 365px;
}
.bottom_row-son .image{
    width: 365px;
    height: 365px;
}
.bottom_row-title{
    padding: 90px 36px;
    color: rgb(134, 116, 101);
}
.bottom_row-title h2{
    font-size: 25px;
} 
.btn-warning{
    width: 128px;
    height: 44px;
}
.title_tho{
    text-align: center;
    background: rgb(233, 226, 213);
    color: rgb(134, 116, 101);
}
.title_tho .tho{
    padding-top: 10px;
    font-style: italic;
}
.title_tho h3{
    padding-bottom: 10px;
    font-size: 20px;   
}
.product{
    color: rgb(134, 116, 101);
}
.product_title{
    margin-left: 610px;
}
.product_row{
    margin-left: 120px;
    display: flex;
    justify-content: space-around;
}
.product_row-son{
    justify-content: space-around;
    width: 300px;
    height: 400px;
}
.product_row-son img{
    border-radius: 6px;
    width: 195px;
    height: 225px;
}
.product_row-son .ten{
    padding-top: 15px;
    text-align: center;
    width: 190px;
    height: 35px;
}
.product_row-son .gia{
    text-align: center;
    padding-top: 10px;
    width: 190px;
    height: 35px;
}
.add_to_cart{
    margin-left: 48px;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    width: 92px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(134, 116, 101);
}
.thucpham img{
    width: 1460px;
    height: 382px;
    position: relative;
}
.thucpham p{
    margin-left: 1000px;
    color: rgb(255, 255, 255);
    margin-top: -15%;
    position: absolute;
    font-size: 35px;
}
